.cover {
  border-radius: 1%;
  margin-bottom: 1rem; }

.navbar-top {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 5rem;
  border-bottom-style: solid;
  border-bottom-width: 2px; }

.paginator {
  word-spacing: 2ex;
  padding-top: 2rem; }

.footer {
  padding-top: 3rem;
  padding-bottom: 2rem; }

.home-regular-page:not(:first-child) {
  padding-top: 4rem; }

.home-regular-page {
  padding-bottom: 4rem;
  border-bottom: solid;
  border-width: 1px;
  border-color: #c4c4c4; }
