.pub-links + ul {
}

.pub-links + ul > li {
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    margin-right: 4px;
    margin-bottom: 2px;
}

.pub-links + ul > li > a {
    text-decoration: none;
}
